@{
    ViewData["Title"] = "About";
}


<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-5">
            <p></p>
            <p></p>
            <img class="pl-5" src="~/image/ban.jpg" />
        </div>
        <div class="col-7">
            <h3>Gamer Shop</h3>
            <p>
                地址: 302新竹縣竹北市六家五路
            </p>
            <p>電話: 03-123-456</p>
            <p>E-Mail: Gamershop@@.com.tw</p>
        </div>
    </div>
</div>
<hr />
<p></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115845.6893822918!2d120.96774535211645!3d24.85777654927937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346836f80b8a39b9%3A0x4fc2c9464b6e0745!2z5ZyL56uL6Zm95piO5Lqk6YCa5aSn5a245paw56u55YWt5a625qCh5Y2A!5e0!3m2!1szh-TW!2stw!4v1750853087464!5m2!1szh-TW!2stw" width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>